<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>todo paractice</title>
    <link href="main.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <h2>Todo list</h2>
      <form v-on:submit.prevent>
        <input type="text" v-model="newItem">
        <button v-on:click="addcontent">add</button>
      </form>
      <ul>
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <span v-bind:class="{ done: todo.isDone}">{{ todo.item }}</span>
          <button v-on:click="deletecontent(index)">Delete</button>
        </li>
      </ul>
      <!--  <pre>{{ $data }}</pre> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>

